@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */

*{
    padding: 0;
    margin: 0;

}

header{
    padding: 10px 0px;
    background-color: rgb(60, 87, 59);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    font-family: 'Exo 2', sans-serif;
    margin-left: 100px;
    color: white;
    font-size: 20px;

}

header .logo span{
    color: #F83546;
}



nav a span{
    color: #F83546;
}


nav a{
    color: rgb(106, 106, 106);
    text-decoration: none;
    padding-left: 20px;
    font-size: 11.5px;
}






header button{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 100px;
    color: white;
    background-color: #F83546;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}






























.hero{
    background-color: rgb(231, 183, 255);
}

.sobre-mi{
    background-color: rgb(250, 171, 171);
}

.education{
    background-color: rgb(132, 176, 230);
}

.portfolio{
    background-color: rgb(91, 125, 84);
}

.services{
    background-color: rgb(237, 189, 131);
}

footer{
    background-color: aqua;
}