@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Exo+2:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */
/* font-family: 'Domine', serif; */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ------------------- HEADER ------------------- */

header{
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    font-family: 'Exo 2', sans-serif;
    margin-left: 100px;
    color: white;
    font-size: 20px;


}

header .logo span{
    color: #F83546;
}



nav a span{
    color: #F83546;
}


nav a{
    color: rgb(106, 106, 106);
    text-decoration: none;
    padding-left: 20px;
    font-size: 11.5px;
    font-weight: 600;
}


header button{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    color: white;
    background-color: #F83546;
    border: none;
    padding: 13px 25px;
    margin-right: 100px;
    border-radius: 50px;
    cursor: pointer;
}



/* ------------------- HERO ------------------- */

.hero{
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/background.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



.div-izq-hero{
    color: white;
    margin-top: 60px;
    margin-left: 10rem;
}


.div-izq-hero h4{
    color: #F83546;
    font-size: 18px;
    font-weight: 600;
}


.div-izq-hero h1{
    font-size: 4em;
    line-height: 1.2em;
    font-family: 'Domine', serif;
    margin: 20px 0px;
}


.div-izq-hero h1 span{
    color: #F83546;
    font-family: 'Domine', serif;

}

.div-izq-hero p{
    color: rgb(106, 106, 106);
    font-size: 11px;
    margin-bottom: 30px;
}








.botones-hero{
    display: flex;
    align-items: center;
}


.div-izq-hero .leermas{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    color: white;
    background-color: #F83546;
    border: none;
    padding: 13px 45px;
    border-radius: 50px;
    cursor: pointer;
}



.contenedor-play-video{
    display: flex;
    align-items: center;

}

.texto-play-video{
    height: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.texto-play-video p{
    color: #F83546;
    font-size: 12px;
    text-transform: uppercase;
}


.play-video{
    background-color: white;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo-play{
    color: #F83546;
    font-size: 13px;
    rotate: 90deg;
}





.diegoimg{
    width: 30em;
    margin-top: 13em;
    margin-right: 4em;
}




























.hero{
    background-color: rgb(231, 183, 255);
}

.sobre-mi{
    background-color: rgb(250, 171, 171);
}

.education{
    background-color: rgb(132, 176, 230);
}

.portfolio{
    background-color: rgb(91, 125, 84);
}

.services{
    background-color: rgb(237, 189, 131);
}

footer{
    background-color: aqua;
}